test/hotdog/*.jpg filter=lfs diff=lfs merge=lfs -text
test/nothotdog/*.jpg filter=lfs diff=lfs merge=lfs -text
train/hotdog/*.jpg filter=lfs diff=lfs merge=lfs -text
train/nothotdog/*.jpg filter=lfs diff=lfs merge=lfs -text
