test/hotdog filter=lfs diff=lfs merge=lfs -text
test/nothotdog filter=lfs diff=lfs merge=lfs -text
train/hotdog filter=lfs diff=lfs merge=lfs -text
train/nothotdog filter=lfs diff=lfs merge=lfs -text
